COVID_report.html
10k_synthea_covid19_csv\Synthea COVID-19 Analysis.html
10k_synthea_covid19_csv\allergies.csv
10k_synthea_covid19_csv\careplans.csv
10k_synthea_covid19_csv\conditions.csv
10k_synthea_covid19_csv\devices.csv
10k_synthea_covid19_csv\encounters.csv
10k_synthea_covid19_csv\imaging_studies.csv
10k_synthea_covid19_csv\immunizations.csv
10k_synthea_covid19_csv\medications.csv
10k_synthea_covid19_csv\observations.csv
10k_synthea_covid19_csv\organizations.csv
10k_synthea_covid19_csv\patients.csv
10k_synthea_covid19_csv\payer_transitions.csv
10k_synthea_covid19_csv\payers.csv
10k_synthea_covid19_csv\procedures.csv
10k_synthea_covid19_csv\providers.csv
10k_synthea_covid19_csv\supplies.csv